[*.cs]

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = false:suggestion

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:suggestion

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:suggestion

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:suggestion

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:suggestion

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = suggestion

# IDE0071: Simplify interpolation
dotnet_style_prefer_simplified_interpolation = false

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1011: Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = none

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# HAA0302: Display class allocation to capture closure
dotnet_diagnostic.HAA0302.severity = warning
